db/
incremental_db/
output_files/
greybox_tmp/
source/osc/osc.sopcinfo
.environment
notes
.vscode/
*.BAK.v
*.rbf
*.vvp
source/.qsys_edit/
source/greybox_tmp/cbx_args.txt
*.sopcinfo
.qsys_edit/preferences.xml
.qsys_edit/filters.xml
source/pll/greybox_tmp/
*.qws
source/Untitled-*
test/
source/video/generated/
